CI_ENVIRONMENT = development
app.baseURL = 'http://localhost:8087/'
app.indexPage = ''

# Database
 database.default.hostname = localhost
 database.default.database = chugoku_ci4
 database.default.username = root
 database.default.password = 
 database.default.DBDriver = MySQLi
 database.default.DBPrefix =
 database.default.port = 3306

# Security
security.csrfProtection = 'session'
security.tokenRandomize = true
security.cookieName = 'csrf_cookie_name'
security.expires = 7200
security.regenerate = true
security.redirect = true
security.samesite = 'Lax'

session.driver = 'CodeIgniter\Session\Handlers\DatabaseHandler'
session.savePath = 'ci_sessions'